body { min-height: 100vh; background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
.container { margin: 150px auto; }
/*.items{background:red;}*/
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable .item-content { padding: 5px; font-size: 1.2em;}
html>body .sortable .item-content { height: 4em; line-height: 1.2em; }
.ui-state-highlight { height: 5em; line-height: 1.2em; }
.ui-draggable, .ui-droppable {
    background-position: top;
}
.items.ui-state-default {margin-bottom: 15px;position: relative;cursor: move;}
.repeater-remove-btn {
    position: absolute;
    right: 3px;
    top: -15px;
}
.errorUrl{
    font-size: 12px;
    color:red;
}
.ui-progressbar {
    position: relative;
    margin-top: 15px;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 1px;
    font-weight: bold;
    text-shadow: none;
    color: #fff;
}
.repeater-heading .repeater-add-btn {
    margin-bottom: 15px;
}
span.titleStatus {
    font-size: 12px;
    font-weight: 600;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: green;
    color: #fff;
    font-weight: bold;
}
.ui-progressbar .ui-progressbar-value {
    margin: auto; 

}